{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="ui container">
        <form method="post" class="ui massive form">
            {% csrf_token %}
            <div class="two fields">
                <div class="field">
                    <input placeholder="Enter English word" name="english" type="text">
                </div>
                <div class="field">
                    <input placeholder="Enter Uzbek word" name="uzbek" type="text">
                </div>
            </div>
            <button type="submit" class="ui basic button"><i class="add icon"></i> Qo'shish</button>
        </form>
    </div>
{% endblock content %}